export(if97)
export(if97_psat)
export(if97_tsat)
export(if97_state)
#export(if97_region)

export(iapws95)
export(iapws95_pt)
export(iapws95_sat)
export(iapws95_sat_p)
export(iapws95_state)

useDynLib(iapws, .registration = TRUE)
