export(if97)
export(if97_psat)
export(if97_tsat)
export(if97_state)

export(iapws95)
export(iapws95_sat)
export(iapws95_state)

export(heavy17)
export(heavy17_sat)
export(heavy17_state)

export(ice06)

export(iapws_epsilon)
export(iapws_n)
export(iapws_pk)

export(iapws_sigma)
export(heavy17_sigma)

export(IAPWS)
export(IAPWS95)
export(HEAVY17)

useDynLib(iapws, .registration = TRUE)
