export(if97)
export(if97_psat)
export(if97_tsat)
export(if97_state)

export(iapws95)
export(iapws95_sat)
export(iapws95_state)

export(.iapws95)

export(ice06)

export(.IAPWS_PROPERTIES)
export(.IAPWS_STATES)

useDynLib(iapws, .registration = TRUE)
